<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperacion</title>
</head>
<body>
    <div class="contendedor_principal">
        <div class="contenido">
            <h1>Formulario de Recuperación</h1>
            <div class="formulario">
                <div class="campos_usuario">
                    <label >Ingrese usuario</label>
                    <input type="text">
                </div>
                
                <div class="campo correo">
                     <label >Ingrese correo</label>
                    <input type="text">
                </div>
                
                <div class="boton">
                    <button type="button">Recuperar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>